@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Servicos.CreateMultiple
@using EmpreendedorismoEIT.Models 

@{
    ViewData["Title"] = "Adicionar P/S";
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.Empresa.Nome);
    if (Model.Empresa.Tipo == Tipo.JUNIOR)
    {
        ViewData["Section"] = SectionManager.Juniores;
    }
    if (Model.Empresa.Tipo == Tipo.INCUBADA)
    {
        ViewData["Section"] = SectionManager.Incubadas;
    }
}

<form method="post">
    <div class="form-row menu-bar">
        <div class="col-12 col-md form-group align-self-center text-center text-md-left">
            <h5 class="d-inline subtitle">Adicionar produtos ou serviços <span class="badge badge-custom">@Model.Quantidade</span></h5>
        </div>
        <div class="col-12 col-md-auto form-group">
            <select name="n" class="form-control custom-select text-center text-md-right w-100" onchange="this.form.submit()">
                <option value="" disabled selected hidden>Alterar quantidade</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <partial name="_ValidationMessage" />
    <div class="row">
        @for (var i = 0; i < Model.Quantidade; i++)
        {
            <div class="col-lg-6 prod-serv">
                <div class="form-group">
                    @*<label class="control-label">@ordem[i]<span id="num">@(i+1)</span></label>*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">@(i+1)</label>
                        </div>
                        <input asp-for="ListaProdServVM[i].Nome" class="form-control maxcounter" placeholder="Nome" />
                    </div>
                    <span asp-validation-for="ListaProdServVM[i].Nome"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="ListaProdServVM[i].Descricao" class="form-control maxcounter" rows="5" placeholder="Descrição"></textarea>
                    <span asp-validation-for="ListaProdServVM[i].Descricao"></span>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col text-right">
            <hr />
            <a asp-page="Index" asp-route-id="@Model.Empresa.ID" class="btn btn-outline-secondary">Voltar</a>
            <input type="submit" class="btn btn-primary" value="Adicionar" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
