@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Servicos.IndexModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Produtos e serviços";
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.Empresa.Nome);
    if (Model.Empresa.Tipo == Tipo.JUNIOR)
    {
        ViewData["Section"] = SectionManager.Juniores;
        Model.ReturnURL = "/Juniores/Details";
    }
    if (Model.Empresa.Tipo == Tipo.INCUBADA)
    {
        ViewData["Section"] = SectionManager.Incubadas;
        Model.ReturnURL = "/Incubadas/Details";
    }
}

<div class="form-row menu-bar">
    <div class="col-12 col-md form-group align-self-center text-center text-md-left">
        <h5 class="d-inline subtitle">
            Produtos e serviços
            <span class="badge badge-custom">@Model.ListaProdServ.Count</span>
        </h5>
    </div>
    <div class="col-6 col-md-auto form-group">
        <a asp-page="CreateMultiple" asp-route-id="@Model.Empresa.ID" class="btn btn-outline-primary w-100">Adicionar vários</a>
    </div>
    <div class="col-6 col-md-auto form-group">
        <a asp-page="Create" asp-route-id="@Model.Empresa.ID" class="btn btn-outline-primary w-100">Adicionar</a>
    </div>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div id="accordion" class="mt-2">
    @if (Model.ListaProdServ.Count == 0)
    {
        <div class="row">
            <div class="offset-2 col-8 offset-md-3 col-md-6 text-center py-4 my-5 rounded-lg msg-empty">
                <i class="bi bi-x-diamond icon-msg"></i><br />
                <span>Nenhum produto ou serviço cadastrado ainda.</span>
            </div>
        </div>
    }
    @foreach (var item in Model.ListaProdServ)
    {
        <div class="card mb-3">
            <div class="card-header border-bottom-0 form-row" id="nome-@item.ID">
                <div class="col-md-8 text-center text-md-left align-self-center">
                    <a class="btn-link" href="#" data-toggle="collapse" data-target="#desc-@item.ID">
                        <p class="mb-0 text-truncate pr-md-3" id="ps-nome-@item.ID">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </p>
                    </a>
                </div>
                <div class="col-2 d-none d-md-flex">
                    <button type="button" class="btn btn-outline-danger btn-block"
                            data-toggle="modal" data-target="#modal-delete"
                            data-id="@item.ID" data-tag="ps-nome-@item.ID">
                        Excluir
                    </button>
                </div>
                <div class="col-2 d-none d-md-flex">
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-block">Editar</a>
                </div>
            </div>
            <div id="desc-@item.ID" class="collapse show border-top">
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </div>
                <div class="card-footer form-row d-md-none">
                    <div class="col-6">
                        <button type="button" class="btn btn-outline-danger btn-block"
                                data-toggle="modal" data-target="#modal-delete"
                                data-id="@item.ID" data-tag="ps-nome-@item.ID">
                            Excluir
                        </button>
                    </div>
                    <div class="col-6">
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-block">Editar</a>
                    </div>
                </div>
            </div>
        </div>
        
    }
</div>
<div class="row">
    <div class="col text-right">
        <hr />
        <a asp-area="Admin" asp-page="@Model.ReturnURL"  asp-route-id="@Model.Empresa.ID" class="btn btn-outline-secondary">Voltar para empresa</a>
    </div>
</div>

@* Modal de exclusão *@
<div class="modal fade" id="modal-delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir produto ou serviço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o item "<span class="modal-item-text"></span>"?</p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-page="./Delete">
                    <input type="hidden" asp-for="ProdServVM.ID" class="modal-item-id" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ModalScriptsPartial");}
}