@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Servicos.IndexModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Produtos e serviços";
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.Empresa.Nome);
    if (Model.Empresa.Tipo == Tipo.JUNIOR)
    {
        ViewData["Section"] = "Juniores";
        Model.ReturnURL = "/Juniores/Index";
    }
    if (Model.Empresa.Tipo == Tipo.INCUBADA)
    {
        ViewData["Section"] = "Incubadas";
        Model.ReturnURL = "/Incubadas/Index";
    }
}

<div class="row mb-3">
    <div class="col col-lg-6 align-self-center">
        <h4 class="d-inline title-h4">Produtos e serviços <span class="badge badge-custom">@Model.ListaProdServ.Count</span></h4>
    </div>
    <div class="col-auto col-lg-6 text-right">
        <a asp-page="Create" asp-route-id="@Model.Empresa.ID" class="btn btn-outline-primary">Adicionar</a>
    </div>
</div>
@if (!String.IsNullOrEmpty(@Model.ErrorMessage))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="background: none !important;">
        @Model.ErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x"></i></span>
        </button>
    </div>
}
<table class="table table-striped border-bottom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaProdServ[0].Nome)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.ListaProdServ[0].Descricao)
            </th>
            <th style="width:15%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaProdServ.Count == 0)
        {
            <tr>
                <td class="text-center pb-3" colspan="3">
                    <i class="bi bi-x-diamond icon-msg"></i><br />
                    <span>Nenhum produto ou serviço cadastrado ainda.</span>
                </td>
            </tr>
        }
        @foreach (var item in Model.ListaProdServ)
        {
            <tr>
                <td id="ps-nome-@item.ID">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td id="ps-desc-@item.ID" class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td class="align-middle text-right">
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-block my-1">Editar</a>
                    <button type="button" class="btn btn-outline-danger btn-block my-1"
                            data-toggle="modal" data-target="#modal-delete"
                            data-id="@item.ID" data-tag="ps-nome-@item.ID">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row mt-4">
    <div class="col col-lg-6 align-self-center"></div>
    <div class="col-auto col-lg-6 text-right">
        <a asp-area="Admin" asp-page="@Model.ReturnURL" class="btn btn-outline-secondary">Voltar</a>
    </div>
</div>
@* Modal de exclusão *@
<div class="modal fade" id="modal-delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir produto ou serviço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o item "<span class="modal-item-text"></span>"?</p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-page="./Delete">
                    <input type="hidden" asp-for="ProdServVM.ID" class="modal-item-id" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ModalScriptsPartial");}
}