@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.Tags.IndexModel

@{
    ViewData["Title"] = "Tags";
    ViewData["Section"] = "Tags";
    ViewData["SectionTitle"] = "Tags";
}

<div class="row mb-3">
    <div class="col col-lg-6 align-self-center">
        <h4 class="d-inline title-h4">Disponíveis para associação <span class="badge badge-custom">@Model.ListaTags.Count</span></h4>
    </div>
    <div class="col-auto col-lg-6 text-right">
        <a asp-page="Create" class="btn btn-outline-primary">Adicionar</a>
    </div>
</div>
@if (!String.IsNullOrEmpty(@Model.ErrorMessage))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="background: none !important;">
        <span>@Model.ErrorMessage</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="bi bi-x"></i>
        </button>
    </div>
}
<div class="tag-list d-flex flex-wrap justify-content-center my-4">
    @foreach (var item in Model.ListaTags)
    {
        <div class="btn-group m-2" role="group">
            <a asp-page="Edit" asp-route-id="@item.ID" class="btn btn-secondary tag-button"
                    style="background-color: @($"#{item.Cor}");">
                <span id="tag-nome-@item.ID">@Html.DisplayFor(modelItem => item.Nome)</span>
            </a>
            <button type="button" class="btn btn-secondary tag-button"
                    data-toggle="modal" data-target="#modal-delete"
                    data-id="@item.ID" data-tag="tag-nome-@item.ID"
                    style="background-color: @($"#{item.Cor}");">
                <span aria-hidden="true"><i class="bi bi-x"></i></span>
            </button>
        </div>
    }
</div>

@* Modal de exclusão *@
<div class="modal fade" id="modal-delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o item "<span class="modal-item-text"></span>"?</p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-page="Delete">
                    <input type="hidden" asp-for="TagVM.ID" class="modal-item-id" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ModalScriptsPartial");}
}