@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Redes.IndexModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Redes sociais";
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.Empresa.Nome);
    if (Model.Empresa.Tipo == Tipo.JUNIOR)
    {
        ViewData["Section"] = SectionManager.Juniores;
        Model.ReturnURL = "/Juniores/Details";
    }
    if (Model.Empresa.Tipo == Tipo.INCUBADA)
    {
        ViewData["Section"] = SectionManager.Incubadas;
        Model.ReturnURL = "/Incubadas/Details";
    }
}

<form method="post">
    <div class="row">
        <div class="col-lg-6 text-center text-lg-left mb-3">
            <h5 class="d-inline subtitle">Redes sociais
                <span class="badge badge-custom">@Model.SocialVM.Contagem</span>
            </h5>
            <p class="my-1">Para garantir que não ocorra nenhum erro de digitação, abra o perfil da rede social em uma nova aba e copie o link da barra de endereços. Depois volte para esta página e cole no campo correspondente.</p>
        </div>
        <div class="col-lg-6">
            <partial name="_ValidationMessage" />
            <input type="hidden" asp-for="SocialVM.EmpresaID" />
            <div class="form-group">
                <label asp-for="SocialVM.FacebookURL" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><i class="bi-facebook input-group-text"></i></div>
                    <input asp-for="SocialVM.FacebookURL" class="form-control" />
                </div>
                <span asp-validation-for="SocialVM.FacebookURL" data-valmsg-replace="true">
                    @if (String.IsNullOrEmpty(Model.SocialVM.FacebookURL))
                    {
                        @Html.Raw("Exemplo: https://facebook.com/ufmatogrosso")
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="SocialVM.InstagramURL" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><i class="bi-instagram input-group-text"></i></div>
                    <input asp-for="SocialVM.InstagramURL" class="form-control" />
                </div>
                <span asp-validation-for="SocialVM.InstagramURL" data-valmsg-replace="true">
                    @if (String.IsNullOrEmpty(Model.SocialVM.InstagramURL))
                    {
                        @Html.Raw("Exemplo: https://www.instagram.com/ufmt.br")
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="SocialVM.LinkedinURL" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><i class="bi-linkedin input-group-text"></i></div>
                    <input asp-for="SocialVM.LinkedinURL" class="form-control" />
                </div>
                <span asp-validation-for="SocialVM.LinkedinURL" data-valmsg-replace="true">
                    @if (String.IsNullOrEmpty(Model.SocialVM.LinkedinURL))
                    {
                        @Html.Raw("Exemplo: https://www.linkedin.com/company/senaimt")
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="SocialVM.TwitterURL" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"><i class="bi-twitter input-group-text"></i></div>
                    <input asp-for="SocialVM.TwitterURL" class="form-control" />
                </div>
                <span asp-validation-for="SocialVM.TwitterURL" data-valmsg-replace="true">
                    @if (String.IsNullOrEmpty(Model.SocialVM.TwitterURL))
                    {
                        @Html.Raw("Exemplo: https://twitter.com/ufmt")
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="SocialVM.WebsiteURL" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend"> <i class="bi-globe input-group-text"></i> </div>
                    <input asp-for="SocialVM.WebsiteURL" class="form-control" />
                </div>
                <span asp-validation-for="SocialVM.WebsiteURL" data-valmsg-replace="true">
                    @if (String.IsNullOrEmpty(Model.SocialVM.WebsiteURL))
                    {
                        @Html.Raw("Exemplo: https://ufmt.br")
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="SocialVM.WhatsappNUM" class="control-label">
                    WhatsApp <span class="label-sub">(Apenas números)</span>
                </label>
                <div class="input-group">
                    <div class="input-group-prepend"> <i class="bi-whatsapp input-group-text"></i> </div>
                    <input asp-for="SocialVM.WhatsappNUM" class="form-control number-only"
                           placeholder="DDD + Telefone" />
                </div>
                <span asp-validation-for="SocialVM.WhatsappNUM"></span>
            </div>
            <div class="form-group text-right mt-4">
                <a asp-area="Admin" asp-page="@Model.ReturnURL" asp-route-id="@Model.Empresa.ID"
                   class="btn btn-outline-secondary">Voltar para empresa</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
