@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Juniores.DetailsModel

@{
    ViewData["Title"] = "Dados EJ";
    ViewData["Section"] = "Juniores";
    ViewData["SectionTitle"] = "Dados da empresa júnior";
}

<div class="row">
    <div class="col-lg-6">
        <h4>@Html.DisplayFor(model => model.EmpresaJuniorVM.Nome)</h4><hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <dl class="row mb-0">
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.Campus)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.Campus)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.Instituto)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.Instituto)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.DescricaoCurta)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.DescricaoCurta)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.DescricaoLonga)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.DescricaoLonga)
            </dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <dl class="row mb-0">
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.Endereco)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.Endereco)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.Telefone)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.Telefone)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.Email)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.Email)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.Situacao)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.Situacao)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.EmpresaJuniorVM.UltimaModificacao)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.EmpresaJuniorVM.UltimaModificacao)
            </dd>
        </dl>
        <div class="row mt-3">
            <div class="col text-right">
                <div>
                    <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
                    <a asp-page="./Delete" asp-route-id="@Model.EmpresaJuniorVM.ID" class="btn btn-primary">Excluir</a>
                    <a asp-page="./Edit" asp-route-id="@Model.EmpresaJuniorVM.ID" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>
