@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Juniores.DetailsModel

@{
    ViewData["Title"] = "Dados EJ";
    ViewData["Section"] = "Juniores";
    ViewData["SectionTitle"] = "Dados da empresa júnior";
}

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.DescricaoCurta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.DescricaoCurta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.DescricaoLonga)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.DescricaoLonga)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.UltimaModificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.UltimaModificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
    <a asp-page="./Delete" asp-route-id="@Model.Empresa.ID" class="btn btn-primary">Excluir</a>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa.ID" class="btn btn-primary">Editar</a>
</div>
