@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Juniores.DetailsModel

@{
    ViewData["Title"] = "Detalhes EJ";
    ViewData["Section"] = SectionManager.Juniores;
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.JuniorVM.Nome);
    var logoURL = String.IsNullOrEmpty(Model.JuniorVM.Logo) ? @Url.Content("~/images/empty_logo.png") : @Url.Content("~/logo/" + Model.JuniorVM.Logo);
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
@if (Model.JuniorVM.Contagem.ProdServicos == 0)
{
<partial name="_Passo1Message" model="Model.JuniorVM.ID" />
}
else if (Model.JuniorVM.Contagem.RedesSociais == 0)
{
<partial name="_Passo2Message" model="Model.JuniorVM.ID" />
}
else if (Model.JuniorVM.Contagem.TagsAssociadas == 0)
{
<partial name="_Passo3Message" model="Model.JuniorVM.ID" />
}
else if (Model.JuniorVM.Situacao == Models.Situacao.ATIVA)
{
<partial name="_Passo4Message" model="Model.JuniorVM.ID" />
}
else if (Model.JuniorVM.Situacao == Models.Situacao.INATIVA)
{
<partial name="_EmpInativaMessage" model="Model.JuniorVM.ID" />
}
<div class="row">
    <div class="col-lg-6">
        <div class="row no-gutters card-details mb-4">
            <div class="col-7">
                <img class="card-img-left border" alt="logo" src="@logoURL">
            </div>
            <div class="col-5 list-group">
                <a asp-area="Admin" asp-page="/Servicos/Index" asp-route-id="@Model.JuniorVM.ID"
                   class="h-100 d-flex align-items-center list-group-item list-group-item-action card-btn-lateral">
                    <span class="text-truncate">Serviços</span>
                </a>
                <a asp-area="Admin" asp-page="/Redes/Index" asp-route-id="@Model.JuniorVM.ID"
                   class="h-100 d-flex align-items-center list-group-item list-group-item-action card-btn-lateral">
                    <span class="text-truncate">Redes sociais</span>
                </a>
                <a asp-area="Admin" asp-page="/EmpTags/Index" asp-route-id="@Model.JuniorVM.ID"
                   class="h-100 d-flex align-items-center list-group-item list-group-item-action card-btn-lateral">
                    <span class="text-truncate">Recomendação</span>
                </a>
            </div>
        </div>
        <div class="list-group mb-3 mb-lg-0 info-details">
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.CNPJ)</span>
                @Html.DisplayFor(model => model.JuniorVM.CNPJFormatado)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Segmento)</span>
                @Html.DisplayFor(model => model.JuniorVM.Segmento)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.RamoAtuacaoCNAE)</span>
                CNAE: @Html.DisplayFor(model => model.JuniorVM.RamoAtuacaoCNAE)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Descricao)</span>
                @Html.DisplayFor(model => model.JuniorVM.Descricao)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Situacao)</span>
                @Html.DisplayFor(model => model.JuniorVM.Situacao)
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="list-group mb-0 info-details">
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Campus)</span>
                @Html.DisplayFor(model => model.JuniorVM.Campus)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Instituto)</span>
                @Html.DisplayFor(model => model.JuniorVM.Instituto)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Endereco)</span>
                @Html.DisplayFor(model => model.JuniorVM.Endereco)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Telefone)</span>
                @Html.DisplayFor(model => model.JuniorVM.TelefoneFormatado)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.Email)</span>
                @Html.DisplayFor(model => model.JuniorVM.Email)
            </div>
            <div class="list-group-item py-xl-3">
                <span class="d-block info-title">@Html.DisplayNameFor(model => model.JuniorVM.UltimaModificacao)</span>
                @Html.DisplayFor(model => model.JuniorVM.UltimaModificacao)
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-right">
        <hr />
        <a asp-page="./Index" class="btn btn-outline-secondary">Voltar para lista</a>
        <button type="button" class="btn btn-outline-danger"
                data-toggle="modal" data-target="#modal-delete"
                data-id="@Model.JuniorVM.ID" data-tag="SectionTitle">
            Excluir
        </button>
        <a asp-page="./Edit" asp-route-id="@Model.JuniorVM.ID" class="btn btn-outline-primary">Editar</a>
    </div>
</div>

@* Modal de exclusão *@
<div class="modal fade" id="modal-delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir empresa júnior</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir a empresa "<span class="modal-item-text"></span>"?</p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-page="./Delete">
                    <input type="hidden" asp-for="JuniorVM.ID" class="modal-item-id" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ModalScriptsPartial");}
}