@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.Juniores.EditModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Editar EJ";
    ViewData["Section"] = SectionManager.Juniores;
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.JuniorVM.Nome);
}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <partial name="_ValidationMessage" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Nome" class="control-label"></label>
                <span class="label-sub">(Comercial) *</span>
                <input asp-for="JuniorVM.Nome" class="form-control" />
                <span asp-validation-for="JuniorVM.Nome"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.CNPJ" class="control-label"></label>
                <span class="label-sub">(Não pode ser alterado)</span>
                <input asp-for="JuniorVM.CNPJ" class="form-control number-only" readonly />
                <span asp-validation-for="JuniorVM.CNPJ"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Segmento" class="control-label"></label>
                <span class="label-sub">*</span>
                <select asp-for="JuniorVM.Segmento" class="form-control custom-select" asp-items="@Html.GetEnumSelectList<Segmento>()"></select>
                <span asp-validation-for="JuniorVM.Segmento"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.RamoAtuacaoID" class="control-label"></label>
                <span class="label-sub">(<a href="https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/cnpj/classificacao-nacional-de-atividades-economicas-2013-cnae/apresentacao" target="_blank">Explicação</a>) *</span>
                <div class="input-group">
                    <select asp-for="JuniorVM.RamoAtuacaoID" class="form-control custom-select" asp-items="@Model.RamosAtuacaoSL">
                        <option value="" disabled selected hidden>Dois primeiros dígitos</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text">CNAE</label>
                    </div>
                </div>
                <span asp-validation-for="JuniorVM.RamoAtuacaoID"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Descricao" class="control-label"></label>
                <span class="label-sub">*</span>
                <textarea asp-for="JuniorVM.Descricao" class="form-control maxcounter" rows="6"></textarea>
                <span class="maxcounter-out float-right"></span>
                <span asp-validation-for="JuniorVM.Descricao"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Situacao" class="control-label"></label>
                <span class="label-sub">*</span>
                <select asp-for="JuniorVM.Situacao" class="form-control custom-select" asp-items="@Html.GetEnumSelectList<Situacao>()"></select>
                <span asp-validation-for="JuniorVM.Situacao"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Campus" class="control-label"></label>
                <span class="label-sub">*</span>
                <select asp-for="JuniorVM.Campus" class="form-control custom-select" asp-items="@Html.GetEnumSelectList<Campus>()"></select>
                <span asp-validation-for="JuniorVM.Campus"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Instituto" class="control-label">Instituto / Faculdade</label>
                <span class="label-sub">*</span>
                <input asp-for="JuniorVM.Instituto" class="form-control" placeholder="Associado à EJ" />
                <span asp-validation-for="JuniorVM.Instituto"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Endereco" class="control-label"></label>
                <span class="label-sub">*</span>
                <textarea asp-for="JuniorVM.Endereco" class="form-control maxcounter" rows="3" placeholder="Dentro do campus"></textarea>
                <span class="maxcounter-out float-right"></span>
                <span asp-validation-for="JuniorVM.Endereco"></span>

            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Telefone" class="control-label"></label>
                <span class="label-sub">(Apenas números) *</span>
                <input type="tel" asp-for="JuniorVM.Telefone" class="form-control number-only"
                       placeholder="DDD + Telefone" />
                <span asp-validation-for="JuniorVM.Telefone"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.Email" class="control-label"></label>
                <span class="label-sub">*</span>
                <input asp-for="JuniorVM.Email" class="form-control" placeholder="Não utilize email pessoal" />
                <span asp-validation-for="JuniorVM.Email"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="JuniorVM.LogoUpload" class="control-label"></label>
                <span class="label-sub">(Apenas .jpg e .png)</span>
                <div class="custom-file">
                    <input asp-for="JuniorVM.LogoUpload" class="custom-file-input" id="input-logo" accept=".png, .jpg, .jpeg" />
                    <label class="custom-file-label text-truncate" for="input-logo"></label>
                </div>
                <span asp-validation-for="JuniorVM.LogoUpload"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <hr class="mt-0" />
            <a asp-page="Details" asp-route-id="@Model.JuniorVM.ID" class="btn btn-outline-secondary">Voltar para empresa</a>
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</form>

@* Modal de upload de imagem *@
<partial name="_ModalUpload" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_UploadScriptsPartial");}
}
