@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.Juniores.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["Section"] = "Juniores";
    ViewData["SectionTitle"] = "Lista de empresas juniores";
    var emptyImage = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
}


<p>
    <a asp-page="Create">Adicionar</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaJunior[0].Empresa.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaJunior[0].Campus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmpresaJunior) {
        <tr>
            <td class="align-middle"><img src="@(String.IsNullOrEmpty(item.Empresa.Logo)? emptyImage : "~/images/" + item.Empresa.Logo)"
                 class="rounded-circle"
                 height="40" width="40"
                 asp-append-version="true"/></td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Campus)
            </td>
            <td class="align-middle text-right">
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
