@page
@model EmpreendedorismoEIT.Areas.Admin.Pages.Juniores.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["Section"] = "Juniores";
    ViewData["SectionTitle"] = "Lista de empresas juniores";
    var emptyImage = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
}

<p>
    <a asp-page="Create" class="btn btn-outline-primary">Adicionar</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ListaEJ[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaEJ[0].Campus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaEJ) {
        <tr>
            <td class="align-middle"><img src="@(String.IsNullOrEmpty(item.Logo)? emptyImage : "~/images/" + item.Logo)"
                 class="rounded-circle"
                 height="40" width="40"
                 asp-append-version="true"/></td>
            <td class="align-middle">
                <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Campus)
            </td>
            <td class="align-middle text-right">
                <a asp-page="./Tags" asp-route-id="@item.ID" class="btn btn-outline-primary my-1">Tags</a>
                <a asp-page="./Produtos" asp-route-id="@item.ID" class="btn btn-outline-primary my-1">Serviços</a>
                <a asp-page="./Redes" asp-route-id="@item.ID" class="btn btn-outline-primary my-1">Redes Sociais</a>
            </td>
        </tr>
}
    </tbody>
</table>
