@page "{id:int?}"
@model EmpreendedorismoEIT.Areas.Admin.Pages.EmpTags.IndexModel
@using EmpreendedorismoEIT.Models

@{
    ViewData["Title"] = "Index";
    ViewData["SectionTitle"] = Html.DisplayFor(model => model.Empresa.Nome);
    if (Model.Empresa.Tipo == Tipo.JUNIOR)
    {
        ViewData["Section"] = SectionManager.Juniores;
        Model.ReturnURL = "/Juniores/Details";
    }
    if (Model.Empresa.Tipo == Tipo.INCUBADA)
    {
        ViewData["Section"] = SectionManager.Incubadas;
        Model.ReturnURL = "/Incubadas/Details";
    }
}

@if (Model.PassoMessage == 5)
{
    <partial name="_Passo5Message" />
}
<div class="form-row menu-bar">
    <div class="col-12 col-lg-6 form-group align-self-center text-center text-lg-left">
        <h5 class="d-inline subtitle">Recomendação <span class="badge badge-custom">@Model.Contador</span></h5>
        <p class="my-1">Defina o nível de associação entre a empresa e cada uma das tags disponíveis. Esse valor será usado para descrição e recomendação nas páginas de divulgação.</p>
    </div>
    <div class="col-12 col-lg-6 form-group">
        <partial name="_ValidationMessage" />
    </div>
</div>
<form method="post">
    <div class="row row-cols-1 row-cols-md-3">
        @if (Model.ListaET.Count == 0)
        {
            <div class="offset-1 offset-lg-3 col-10 col-lg-6 text-center py-4 my-5 rounded-lg msg-empty">
                <i class="bi bi-x-diamond icon-msg"></i><br />
                <span>Nenhuma tag encontrada para associação.<br />Adicione uma nova à <a asp-page="/Tags/Index">nuvem de tags</a>.</span>
            </div>
        }
        @for (var i = 0; i < Model.ListaET.Count; i++)
        {
            <div class="col mb-4">
                <div class="card text-white grau-card" style="background-color: @Model.ListaET[i].CorHTML;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col text-truncate pr-0">@Html.DisplayFor(model => model.ListaET[i].Nome)</div>
                            <div class="col-auto pl-2"><span id="range-val-@Model.ListaET[i].TagID" class="badge badge-danger grau-badge">@Model.ListaET[i].Grau</span></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="ListaET[i].TagID" />
                        <input type="hidden" asp-for="ListaET[i].Nome" />
                        <input type="hidden" asp-for="ListaET[i].Cor" />
                        <input type="range" asp-for="ListaET[i].Grau" class="custom-range"
                               onInput="$('#range-val-@Model.ListaET[i].TagID').html($(this).val())">
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col text-right">
            <hr />
            <a asp-area="Admin" asp-page="@Model.ReturnURL" asp-route-id="@Model.Empresa.ID" class="btn btn-outline-secondary">Voltar para empresa</a>
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
