@page
@model EmpreendedorismoEIT.Pages.JuniorModel
@{
    ViewData["Title"] = "Empresas Juniores";
}

<div class="container">
    @*Explicação sobre empresas juniores*@
    <section class="mt-5 px-xl-section">
        <div class="text-center">
            <h1>Empresas Juniores</h1>
            <p class="desc px-3 px-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        </div>
    </section>

    @*Campus Araguaia*@
    @if (Model.ListaAraguia.Count > 0)
    {
        <section class="mt-section">
            <div class="text-center">
                <h3>Campus Araguaia</h3>
                <hr class="line-divider" />
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-xl-5 justify-content-md-center lista-emp">
                @foreach (var item in Model.ListaAraguia)
                {
                    <div class="col col-emp">
                        <a asp-page="Empresa" asp-route-id="@item.EmpresaID" class="card-link">
                            <div class="card h-100">
                                <img src="@(String.IsNullOrEmpty(item.Empresa.Logo)? "../images/empty_logo.png" : "../logo/" + item.Empresa.Logo)"
                                     class="card-img-top" alt="logo">
                                <div class="card-body border-top">
                                    <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Empresa.Nome)</h5>
                                    <p class="card-text emp-text">@Html.DisplayFor(modelItem => item.Instituto)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    }

    @*Campus Cuiaba*@
    @if (Model.ListaCuiaba.Count > 0)
    {
        <section class="mt-section">
            <div class="text-center">
                <h3>Campus Cuiabá</h3>
                <hr class="line-divider" />
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-xl-5 justify-content-md-center lista-emp">
                @foreach (var item in Model.ListaCuiaba)
                {
                    <div class="col col-emp">
                        <a asp-page="Empresa" asp-route-id="@item.EmpresaID" class="card-link">
                            <div class="card h-100">
                                <img src="@(String.IsNullOrEmpty(item.Empresa.Logo)? "../images/empty_logo.png" : "../logo/" + item.Empresa.Logo)"
                                     class="card-img-top" alt="logo">
                                <div class="card-body border-top">
                                    <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Empresa.Nome)</h5>
                                    <p class="card-text emp-text">@Html.DisplayFor(modelItem => item.Instituto)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    }

    @*Campus Sinop*@
    @if (Model.ListaSinop.Count > 0)
    {
        <section class="mt-section">
            <div class="text-center">
                <h3>Campus Sinop</h3>
                <hr class="line-divider" />
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-xl-5 justify-content-md-center lista-emp">
                @foreach (var item in Model.ListaSinop)
                {
                    <div class="col col-emp">
                        <a asp-page="Empresa" asp-route-id="@item.EmpresaID" class="card-link">
                            <div class="card h-100">
                                <img src="@(String.IsNullOrEmpty(item.Empresa.Logo)? "../images/empty_logo.png" : "../logo/" + item.Empresa.Logo)"
                                     class="card-img-top" alt="logo">
                                <div class="card-body border-top">
                                    <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Empresa.Nome)</h5>
                                    <p class="card-text emp-text">@Html.DisplayFor(modelItem => item.Instituto)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    }
</div>
