<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmpreendedorismoEIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <partial name="_Header" />
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-9 pb-3">
                    <section>
                        <div class="row">
                            <div class="col-9 text-truncate">
                                <h4>@ViewData["SectionTitle"]</h4><hr />
                            </div>
                            <div class="col-3 text-right">
                                <partial name="_AccountOptions" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @RenderBody()
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3 order-md-first">
                    <section>
                        <h4>Administração</h4><hr />
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action @(ViewData["Section"].Equals("Inicio") ? "active" : "")" asp-area="admin" asp-page="/Index">Início</a>
                            <a class="list-group-item list-group-item-action @(ViewData["Section"].Equals("Juniores") ? "active" : "")" asp-area="admin" asp-page="/Juniores/Index">Empresas Juniores</a>
                            <a class="list-group-item list-group-item-action @(ViewData["Section"].Equals("Incubadas") ? "active" : "")" asp-area="admin" asp-page="/Index">Empresas Incubadas</a>
                            <a class="list-group-item list-group-item-action @(ViewData["Section"].Equals("Tags") ? "active" : "")" asp-area="admin" asp-page="/Tags/Index">Tags</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>

    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
